<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crewmember.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @crewmember.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @crewmember.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @crewmember.email %>
</p>

<%= link_to 'Edit', edit_crewmember_path(@crewmember) %> |
<%= link_to 'Back', crewmembers_path %>
